html {background: ivory;}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: darkseagreen; 
    text-align: center; 
}

h2 {color: darkseagreen}
h3 {color: darkseagreen}
h4 {color: darkseagreen}

.img {
    border: 5px;
    border-color: black;
    border-radius: 25%;
}


div {
   
}


.featurette {
    padding-top: 50px;
}

.featurette-divider {

}